<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sample Agreement</title>

</head>

<body>
	<div id="page_1" style="position: relative;overflow: hidden;margin: 48px 0 47px 114px;padding: 0;border: none;width: 702px;">
		<div id="p1dimg1" style="position: absolute;top: 0;left: 170px;z-index: -1;width: 242px;height: 132px;">
			<img src="https://i.ibb.co/MnyX2GJ/image.png" id="p1img1" style="width: 242px;height: 132px;">
		</div>


		<div class="dclr" style="clear: both;float: none;height: 1px;margin: 0;padding: 0;overflow: hidden;"></div>
		<p class="p0 ft1" style="font: bold 15px 'Times New Roman';line-height: 17px;text-align: left;margin-top: 149px;margin-bottom: 0;">Terms & Condition<span class="ft0" style="font: 15px 'Times New Roman';line-height: 17px;">:</span></p>
		<p class="p1 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;margin-top: 21px;margin-bottom: 0;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">1.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">The appointment is for </span>
			<nobr>full-time,</nobr> regular position for the post of <span class="ft4" style="font: bold 16px Calibri;line-height: 19px;">“Position</span><span class="ft5" style="font: bold 15px Calibri;line-height: 18px;">”</span>
		</p>
		<p class="p2 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 48px;padding-right: 120px;margin-top: 18px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">2.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">Your gross Salary per month will be amount of
			</span><span class="ft5" style="font: bold 15px Calibri;line-height: 18px;">Tk. 00.000 </span>(Taka) including TAX. Details breakdown below.</p>
		<table cellpadding="0" cellspacing="0" class="t0" style="width: 534px;margin-left: 54px;margin-top: 14px;font: bold 13px 'Times New Roman';">
			<tr>
				<td class="tr0 td0" style="border-left: #000 1px solid;border-right: #000 1px solid;border-top: #000 1px solid;padding: 0;margin: 0;width: 89px;vertical-align: bottom;background: #0f0;height: 16px;">
					<p class="p3 ft6" style="font: bold 13px 'Times New Roman';line-height: 15px;text-align: left;padding-left: 7px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Basic</p>
				</td>
				<td class="tr0 td1" style="border-right: #000 1px solid;border-top: #000 1px solid;padding: 0;margin: 0;width: 101px;vertical-align: bottom;background: #0f0;height: 16px;">
					<p class="p4 ft6" style="font: bold 13px 'Times New Roman';line-height: 15px;text-align: left;padding-left: 6px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Home</p>
				</td>
				<td class="tr0 td2" style="border-right: #000 1px solid;border-top: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;background: #0f0;height: 16px;">
					<p class="p4 ft6" style="font: bold 13px 'Times New Roman';line-height: 15px;text-align: left;padding-left: 6px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Medial</p>
				</td>
				<td class="tr0 td2" style="border-right: #000 1px solid;border-top: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;background: #0f0;height: 16px;">
					<p class="p4 ft6" style="font: bold 13px 'Times New Roman';line-height: 15px;text-align: left;padding-left: 6px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Transport</p>
				</td>
				<td class="tr0 td2" style="border-right: #000 1px solid;border-top: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;background: #0f0;height: 16px;">
					<p class="p4 ft6" style="font: bold 13px 'Times New Roman';line-height: 15px;text-align: left;padding-left: 6px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Gross Salary</p>
				</td>
			</tr>
			<tr>
				<td class="tr1 td3" style="border-left: #000 1px solid;border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 89px;vertical-align: bottom;background: #0f0;height: 15px;">
					<p class="p5 ft7" style="font: 1px Calibri;line-height: 1px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap;">&nbsp;</p>
				</td>
				<td class="tr1 td4" style="border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 101px;vertical-align: bottom;background: #0f0;height: 15px;">
					<p class="p4 ft6" style="font: bold 13px 'Times New Roman';line-height: 15px;text-align: left;padding-left: 6px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Allowance</p>
				</td>
				<td class="tr1 td5" style="border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;background: #0f0;height: 15px;">
					<p class="p4 ft6" style="font: bold 13px 'Times New Roman';line-height: 15px;text-align: left;padding-left: 6px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Allowance</p>
				</td>
				<td class="tr1 td5" style="border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;background: #0f0;height: 15px;">
					<p class="p4 ft6" style="font: bold 13px 'Times New Roman';line-height: 15px;text-align: left;padding-left: 6px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Allowance</p>
				</td>
				<td class="tr1 td5" style="border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;background: #0f0;height: 15px;">
					<p class="p5 ft7" style="font: 1px Calibri;line-height: 1px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap;">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td class="tr1 td6" style="border-left: #000 1px solid;border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 89px;vertical-align: bottom;height: 15px;">
					<p class="p6 ft8" style="font: 13px 'Times New Roman';line-height: 15px;text-align: right;padding-right: 57px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">50%</p>
				</td>
				<td class="tr1 td7" style="border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 101px;vertical-align: bottom;height: 15px;">
					<p class="p7 ft8" style="font: 13px 'Times New Roman';line-height: 15px;text-align: right;padding-right: 70px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">30%</p>
				</td>
				<td class="tr1 td8" style="border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;height: 15px;">
					<p class="p8 ft8" style="font: 13px 'Times New Roman';line-height: 15px;text-align: right;padding-right: 82px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">10%</p>
				</td>
				<td class="tr1 td8" style="border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;height: 15px;">
					<p class="p8 ft8" style="font: 13px 'Times New Roman';line-height: 15px;text-align: right;padding-right: 82px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">10%</p>
				</td>
				<td class="tr1 td8" style="border-right: #000 1px solid;border-bottom: #000 1px solid;padding: 0;margin: 0;width: 113px;vertical-align: bottom;height: 15px;">
					<p class="p9 ft8" style="font: 13px 'Times New Roman';line-height: 15px;text-align: right;padding-right: 75px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">100%</p>
				</td>
			</tr>
		</table>
		<p class="p10 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 48px;padding-right: 123px;margin-top: 20px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">3.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">1st month is considered as Orientation/Training
				month and Salary/Allowance for the first month is </span><span class="ft5" style="font: bold 15px Calibri;line-height: 18px;">only the basic.</span></p>
		<p class="p11 ft5" style="font: bold 15px Calibri;line-height: 18px;text-align: left;padding-left: 48px;padding-right: 129px;margin-top: 18px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">4.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">When an employee becomes confirmed one
			</span>100% of basic salary will be contributed to his/her ERF as a bonus.</p>
		<p class="p2 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 48px;padding-right: 120px;margin-top: 18px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">5.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">A performance review will be arranged after 90
				days probation period, based on which your services will be confirmed with the Company.</span></p>
		<p class="p12 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 102px;padding-right: 120px;margin-top: 17px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">a.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">During probation period your services can be
				terminated with 1 day notice and without any reasons whatsoever.</span></p>
		<p class="p13 ft9" style="font: 16px Calibri;line-height: 19px;text-align: justify;padding-left: 102px;padding-right: 120px;margin-top: 1px;margin-bottom: 0;text-indent: -24px;"><span class="ft9" style="font: 16px Calibri;line-height: 19px;">b.</span><span class="ft10" style="font: 16px Calibri;margin-left: 11px;line-height: 19px;">If you want to resign from the company in any
				reason during the probation period, (also applies for permanent employees) you will be required to
				submit a written application at least 30 days prior. Failing to do so will result in violation of this
				contract and the consequences will be as following-</span></p>
		<p class="p14 ft9" style="font: 16px Calibri;line-height: 19px;text-align: left;padding-left: 144px;padding-right: 120px;margin-top: 1px;margin-bottom: 0;text-indent: -24px;"><span class="ft11" style="font: 16px 'Times New Roman';line-height: 19px;">●</span><span class="ft12" style="font: 16px Calibri;margin-left: 14px;line-height: 19px;">Company will fully deduct your current month
				and 30 days salary (from ERF) as a compensation</span></p>
		<p class="p15 ft9" style="font: 16px Calibri;line-height: 19px;text-align: left;padding-left: 120px;margin-top: 1px;margin-bottom: 0;"><span class="ft11" style="font: 16px 'Times New Roman';line-height: 19px;">●</span><span class="ft12" style="font: 16px Calibri;margin-left: 14px;line-height: 19px;">Company will not provide any experience
				certificate and NOC.</span></p>
		<p class="p16 ft2" style="font: 15px Calibri;line-height: 18px;text-align: justify;padding-left: 102px;padding-right: 120px;margin-top: 19px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">c.</span><span class="ft13" style="font: 15px Calibri;margin-left: 14px;line-height: 18px;">If your services are found satisfactory during
				the probation period, you will be confirmed in the present position. However, if poor performance found
				then probation could be extended up to 180 days.</span></p>
		<p class="p17 ft15" style="font: bold 15px Calibri;text-decoration: underline;line-height: 18px;text-align: left;padding-left: 24px;margin-top: 54px;margin-bottom: 0;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">6.</span><span class="ft14" style="font: bold 15px Calibri;text-decoration: underline;margin-left: 13px;line-height: 18px;">Employees' Regulatory Fund (ERF)</span></p>
		<p class="p18 ft16" style="font: 15px Calibri;line-height: 17px;text-align: left;padding-left: 48px;padding-right: 122px;margin-top: 0;margin-bottom: 0;">Employee Regulatory Fund is a welfare scheme brought into force to secure a better future
			for employees. Under the Employees' Regulatory Fund Scheme (ERF Scheme) both employers and employees have to
			make their contributions. In this scheme, the</p>
		<p class="p19 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 48px;margin-top: 2px;margin-bottom: 0;">Company deducts a fixed sum from employee's salary every month and makes an equal</p>
		<p class="p20 ft0" style="font: 15px 'Times New Roman';line-height: 17px;text-align: left;padding-left: 129px;margin-top: 16px;margin-bottom: 0;">Level 04, House 149, Lane 1, DOHS Baridhara, Dhaka</p>
		<p class="p21 ft17" style="font: 15px 'Times New Roman';text-decoration: underline;color: #00f;line-height: 17px;text-align: left;padding-left: 229px;margin-top: 0;margin-bottom: 0;"><a href="http://www.techforing.com/">www.techforing.com</a></p>
	</div>
	<div class="pagebreak"> </div>
	<div id="page_2" style="position: relative;overflow: hidden;margin: 48px 0 47px 152px;padding: 0;border: none;width: 664px;">
		<div id="p2dimg1" style="position: absolute;top: 0;left: 132px;z-index: -1;width: 242px;height: 132px;">
			<img src="https://i.ibb.co/MnyX2GJ/image.png" id="p2img1" style="width: 242px;height: 132px;">
		</div>


		<div class="dclr" style="clear: both;float: none;height: 1px;margin: 0;padding: 0;overflow: hidden;"></div>
		<p class="p22 ft18" style="font: 14px Calibri;line-height: 17px;text-align: left;padding-left: 10px;padding-right: 120px;margin-top: 151px;margin-bottom: 0;">or higher sum of contribution (condition applies). Employees also can choose a nominee of
			his/her ERF amount. ERF is not applicable for interns or contractual employees.</p>
		<p class="p23 ft15" style="font: bold 15px Calibri;text-decoration: underline;line-height: 18px;text-align: left;padding-left: 10px;margin-top: 21px;margin-bottom: 0;">ERF During Probation Period</p>
		<p class="p24 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 18px;margin-bottom: 0;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">i.</span><span class="ft19" style="font: 15px Calibri;margin-left: 17px;line-height: 18px;">When a new employee joins:-</span></p>
		<p class="p25 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 82px;padding-right: 126px;margin-top: 18px;margin-bottom: 0;text-indent: -24px;"><span class="ft8" style="font: 13px 'Times New Roman';line-height: 15px;">●</span><span class="ft20" style="font: 15px Calibri;margin-left: 16px;line-height: 18px;">10% of </span><span class="ft21" style="font: 15px Calibri;text-decoration: underline;line-height: 18px;">gross
				salary</span> will be deducted for the Employee Regulatory Fund from 2<span class="ft22" style="font: 5px Calibri;line-height: 6px;">nd </span>month
			until he/she becomes permanent</p>
		<p class="p26 ft16" style="font: 15px Calibri;line-height: 17px;text-align: left;padding-left: 82px;padding-right: 132px;margin-top: 0;margin-bottom: 0;text-indent: -24px;"><span class="ft8" style="font: 13px 'Times New Roman';line-height: 15px;">●</span><span class="ft23" style="font: 15px Calibri;margin-left: 16px;line-height: 17px;">If a regular employee (who is not permanent
				yet) fails to provide at least 30 days prior notice before leaving the job, 30 days' worth of salary
				will be deducted from his/her </span><span class="ft24" style="font: bold 15px Calibri;line-height: 17px;">Employee Regulatory Fund. </span>Remaining
			amount will be cashed to his/ her account with no benefit whatsoever.</p>
		<p class="p27 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;margin-top: 3px;margin-bottom: 0;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">ii.</span><span class="ft25" style="font: 15px Calibri;margin-left: 34px;line-height: 18px;">All other HR policy is applicable in terms of
				resignation, termination and bonuses</span></p>
		<p class="p28 ft18" style="font: 14px Calibri;line-height: 17px;text-align: right;padding-left: 68px;padding-right: 120px;margin-top: 0;margin-bottom: 0;text-indent: -63px;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">iii.</span><span class="ft26" style="font: 14px Calibri;margin-left: 5px;line-height: 17px;">If an employee is being dismissed for any
				serious reasons like behavioral issue, cultural conflict, theft, company reputation damage, sabotage,
				corporate espionage, or</span></p>
		<p class="p29 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 349px;margin-top: 2px;margin-bottom: 0;">continuous performance issue -</p>
		<p class="p30 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 106px;padding-right: 131px;margin-top: 0;margin-bottom: 0;text-indent: -24px;"><span class="ft8" style="font: 13px 'Times New Roman';line-height: 15px;">●</span><span class="ft20" style="font: 15px Calibri;margin-left: 16px;line-height: 18px;">He/she will lose 1 month of gross salary amount
				which will be deducted from his/her EFR Fund. Remaining basic Fund will be added to employees' accounts
				without any contribution from the Company.</span></p>
		<p class="p31 ft15" style="font: bold 15px Calibri;text-decoration: underline;line-height: 18px;text-align: left;padding-left: 10px;margin-top: 34px;margin-bottom: 0;">ERF for Permanent Employees</p>
		<p class="p32 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 10px;padding-right: 161px;margin-top: 16px;margin-bottom: 0;">Since becoming permanent, a new set of policy will be applicable for the Employee Regulatory
			Fund.</p>
		<p class="p33 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 10px;margin-top: 16px;margin-bottom: 0;">The following policy for ERF will be applied -</p>
		<p class="p34 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 27px;margin-top: 16px;margin-bottom: 0;">i. 10% of <span class="ft15" style="font: bold 15px Calibri;text-decoration: underline;line-height: 18px;">basic salary</span> will be deducted every month for Employee
			Regulatory Fund</p>
		<p class="p35 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 34px;padding-right: 149px;margin-top: 15px;margin-bottom: 0;text-indent: -10px;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">ii.</span><span class="ft27" style="font: 15px Calibri;margin-left: 3px;line-height: 18px;">If an employee completes 3 to 5 years with
				TechForing successfully since he/she becomes permanent</span></p>
		<p class="p36 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 82px;padding-right: 129px;margin-top: 0;margin-bottom: 0;text-indent: -24px;"><span class="ft8" style="font: 13px 'Times New Roman';line-height: 15px;">●</span><span class="ft28" style="font: 15px Calibri;margin-left: 19px;line-height: 18px;">He/she will get an equal amount of contribution
				from Techforing Limited to the ERF Scheme if the company is financially able, otherwise the only
				savings.</span></p>
		<p class="p37 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 20px;margin-top: 0;margin-bottom: 0;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">iii.</span><span class="ft27" style="font: 15px Calibri;margin-left: 3px;line-height: 18px;">If an employee completes 5 to 10 years with
				TechForing successfully</span></p>
		<p class="p38 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 33px;margin-top: 0;margin-bottom: 0;">since he/she becomes permanent</p>
		<p class="p39 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 82px;padding-right: 167px;margin-top: 0;margin-bottom: 0;text-indent: -24px;"><span class="ft8" style="font: 13px 'Times New Roman';line-height: 15px;">●</span><span class="ft20" style="font: 15px Calibri;margin-left: 16px;line-height: 18px;">He/ she will get 1.5 times of the total savings
				in ERF if the company is financially able, otherwise the only savings.</span></p>
		<p class="p40 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 14px;margin-top: 16px;margin-bottom: 0;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">iv.</span><span class="ft29" style="font: 15px Calibri;margin-left: 6px;line-height: 18px;">If an employee wants to leave the job-</span>
		</p>
		<p class="p41 ft0" style="font: 15px 'Times New Roman';line-height: 17px;text-align: left;padding-left: 91px;margin-top: 33px;margin-bottom: 0;">Level 04, House 149, Lane 1, DOHS Baridhara, Dhaka</p>
		<p class="p42 ft17" style="font: 15px 'Times New Roman';text-decoration: underline;color: #00f;line-height: 17px;text-align: left;padding-left: 191px;margin-top: 0;margin-bottom: 0;"><a href="http://www.techforing.com/">www.techforing.com</a></p>
	</div>
	<div class="pagebreak"> </div>
	<div id="page_3" style="position: relative;overflow: hidden;margin: 48px 0 47px 138px;padding: 0;border: none;width: 678px;">
		<div id="p3dimg1" style="position: absolute;top: 0;left: 146px;z-index: -1;width: 242px;height: 132px;">
			<img src="https://i.ibb.co/MnyX2GJ/image.png" id="p3img1" style="width: 242px;height: 132px;">
		</div>


		<div class="dclr" style="clear: both;float: none;height: 1px;margin: 0;padding: 0;overflow: hidden;"></div>
		<p class="p43 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 96px;padding-right: 132px;margin-top: 151px;margin-bottom: 0;text-indent: -24px;"><span class="ft8" style="font: 13px 'Times New Roman';line-height: 15px;">●</span><span class="ft20" style="font: 15px Calibri;margin-left: 16px;line-height: 18px;">He/she has to provide at least 3 months of prior
				notice. Failing to do so, the employee will lose 3 months of gross salary amount which will be deducted
				from his/her EFR Fund. Remaining basic Fund will be added to employees' accounts without any
				contribution from the Company.</span></p>
		<p class="p44 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 48px;padding-right: 127px;margin-top: 16px;margin-bottom: 0;text-indent: -34px;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">v.</span><span class="ft30" style="font: 15px Calibri;margin-left: 27px;line-height: 18px;">If an employee is being dismissed for any
				serious reasons like behavioral issue, cultural conflict, theft, company reputation damage, sabotage,
				corporate espionage, or continuous performance issue -</span></p>
		<p class="p45 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 96px;padding-right: 141px;margin-top: 15px;margin-bottom: 0;text-indent: -24px;"><span class="ft8" style="font: 13px 'Times New Roman';line-height: 15px;">●</span><span class="ft20" style="font: 15px Calibri;margin-left: 16px;line-height: 18px;">He/she will lose 3 months of gross salary amount
				which will be deducted from his/her EFR Fund. Remaining basic Fund will be added to employees' accounts
				without any contribution from the Company.</span></p>
		<p class="p46 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;padding-right: 121px;margin-top: 16px;margin-bottom: 0;text-indent: -14px;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">vi.</span><span class="ft27" style="font: 15px Calibri;margin-left: 3px;line-height: 18px;">If any employee who has completed at least 6
				months as a permanent employee with Techforing Limited becomes seriously ill that requires expensive and
				longer treatment, or faces an accident or death, his or her nominee will receive the ERF amount with an
				equal contribution from Techforing Limited of a year.</span></p>
		<p class="p47 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;margin-top: 16px;margin-bottom: 0;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">7.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">Company will pay your conveyance & TA/DA bills
				at actual on business travels and visits.</span></p>
		<p class="p48 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;padding-right: 120px;margin-top: 18px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">8.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">Company will cover monthly fixed mobile bill and
				internet package if that suits with your position.</span></p>
		<p class="p48 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;padding-right: 120px;margin-top: 18px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">9.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">Company will arrange necessary training relevant
				to the job description for you, as and when needed.</span></p>
		<p class="p49 ft2" style="font: 15px Calibri;line-height: 18px;text-align: justify;padding-left: 24px;padding-right: 120px;margin-top: 17px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">10.</span><span class="ft31" style="font: 15px Calibri;margin-left: 8px;line-height: 18px;">As per Company Policy, employees are eligible
				to get 2 bonuses (each @50% of gross Salary) per year after successful completion of one year service
				period from the date of appointment as a permanent employee, and this will be paid at the time of
				respective religious festivals.</span></p>
		<p class="p50 ft2" style="font: 15px Calibri;line-height: 18px;text-align: justify;padding-left: 24px;padding-right: 120px;margin-top: 18px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">11.</span><span class="ft32" style="font: 15px Calibri;margin-left: 5px;line-height: 18px;">The Permanent Employee(s) shall be entitled to
				10 days casual leave, 14 days Medical Leave and shall not be entitled to any other leave as of right,
				however the management may consider such leave, if any, at its own and absolute discretion.</span></p>
		<p class="p51 ft9" style="font: 16px Calibri;line-height: 19px;text-align: justify;padding-left: 24px;padding-right: 119px;margin-top: 20px;margin-bottom: 0;text-indent: -24px;"><span class="ft9" style="font: 16px Calibri;line-height: 19px;">12.</span><span class="ft33" style="font: 16px Calibri;margin-left: 4px;line-height: 19px;">The office timing/working period is 6 days a
				week, 9 hrs a day with a </span>
			<nobr>1-hr</nobr> lunch break in between. The job can be day or night shift. Company will assign the
			employee on proper shift depending on company needs.
		</p>
		<p class="p52 ft9" style="font: 16px Calibri;line-height: 19px;text-align: left;margin-top: 21px;margin-bottom: 0;"><span class="ft9" style="font: 16px Calibri;line-height: 19px;">13.</span><span class="ft34" style="font: 16px Calibri;margin-left: 8px;line-height: 19px;">Increment/Promotion: based on performance of
				the employee(s).</span></p>
		<p class="p53 ft0" style="font: 15px 'Times New Roman';line-height: 17px;text-align: left;padding-left: 105px;margin-top: 57px;margin-bottom: 0;">Level 04, House 149, Lane 1, DOHS Baridhara, Dhaka</p>
		<p class="p54 ft17" style="font: 15px 'Times New Roman';text-decoration: underline;color: #00f;line-height: 17px;text-align: left;padding-left: 205px;margin-top: 0;margin-bottom: 0;"><a href="http://www.techforing.com/">www.techforing.com</a></p>
	</div>
	<div class="pagebreak"> </div>
	<div id="page_4" style="position: relative;overflow: hidden;margin: 48px 0 47px 138px;padding: 0;border: none;width: 678px;">
		<div id="p4dimg1" style="position: absolute;top: 0;left: 146px;z-index: -1;width: 242px;height: 132px;">
			<img src="https://i.ibb.co/MnyX2GJ/image.png" id="p4img1" style="width: 242px;height: 132px;">
		</div>


		<div class="dclr" style="clear: both;float: none;height: 1px;margin: 0;padding: 0;overflow: hidden;"></div>
		<p class="p55 ft18" style="font: 14px Calibri;line-height: 17px;text-align: justify;padding-left: 24px;padding-right: 115px;margin-top: 151px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">14.</span><span class="ft26" style="font: 14px Calibri;margin-left: 5px;line-height: 17px;">Management of the company may terminate
				permanent employee's services at any time by giving </span>
			<nobr>1-month</nobr> notice and if any permanent employee wants to leave, he/she has to inform 3 months
			prior to the date/month before the management by written application. Otherwise penalty applies as refereed
			to point 4. However, in case of unlikely events such as natural disaster, hands of God act, bankruptcy, or
			any extreme situation, management has the right to terminate the contract at any given time without any
			prior notice.
		</p>
		<p class="p56 ft2" style="font: 15px Calibri;line-height: 18px;text-align: justify;padding-left: 24px;padding-right: 120px;margin-top: 23px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">15.</span><span class="ft32" style="font: 15px Calibri;margin-left: 5px;line-height: 18px;">This appointment letter is being issued to you
				on the basis of the information and particulars furnished by you in your application (including </span>
			<nobr>bio-data),</nobr> at the time of your interview and subsequent discussions. If it transpires that you
			have made a false statement (or have not disclosed a material fact) resulting in your being offered this
			appointment, the Management may take such action as it deems fit in its sole discretion, including
			termination of your employment.
		</p>
		<p class="p57 ft2" style="font: 15px Calibri;line-height: 18px;text-align: justify;padding-left: 24px;padding-right: 115px;margin-top: 17px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">16.</span><span class="ft32" style="font: 15px Calibri;margin-left: 5px;line-height: 18px;">You will be responsible for safekeeping and
				return in good condition and order of all Company property, which may be in your use, custody or charge.
				You also hereby agree to hold in strictest confidence all TechForing proprietary information, including
				client list, products/services, price, discount, design specifications and other trade secrets those
				will be shared or granted access from time to time for operational purposes.</span></p>
		<p class="p48 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;padding-right: 120px;margin-top: 18px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">17.</span><span class="ft32" style="font: 15px Calibri;margin-left: 5px;line-height: 18px;">Please sign and return this Employment
				Agreement and </span>
			<nobr>Non-disclosure</nobr> Agreement confirming your acceptance.
		</p>
		<p class="p58 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;margin-top: 17px;margin-bottom: 0;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">18.</span><span class="ft32" style="font: 15px Calibri;margin-left: 5px;line-height: 18px;">You are also required to submit copies of
				following documents to the office for HR records:</span></p>
		<p class="p59 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;margin-top: 0;margin-bottom: 0;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">a.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">Two Copies of Passport Size Photos</span></p>
		<p class="p59 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;margin-top: 0;margin-bottom: 0;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">b.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">SSC and HSC, or equivalent certificate.</span>
		</p>
		<p class="p59 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;margin-top: 0;margin-bottom: 0;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">c.</span><span class="ft13" style="font: 15px Calibri;margin-left: 14px;line-height: 18px;">Graduation certificate.</span></p>
		<p class="p59 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 24px;margin-top: 0;margin-bottom: 0;"><span class="ft18" style="font: 14px Calibri;line-height: 17px;">d.</span><span class="ft3" style="font: 15px Calibri;margin-left: 13px;line-height: 18px;">National Identification Card (NID)</span></p>
		<p class="p60 ft0" style="font: 15px 'Times New Roman';line-height: 17px;text-align: left;padding-left: 105px;margin-top: 274px;margin-bottom: 0;">Level 04, House 149, Lane 1, DOHS Baridhara, Dhaka</p>
		<p class="p54 ft17" style="font: 15px 'Times New Roman';text-decoration: underline;color: #00f;line-height: 17px;text-align: left;padding-left: 205px;margin-top: 0;margin-bottom: 0;"><a href="http://www.techforing.com/">www.techforing.com</a></p>
	</div>
	<div class="pagebreak"> </div>
	<div id="page_5" style="position: relative;overflow: hidden;margin: 48px 0 47px 114px;padding: 0;border: none;width: 702px;">
		<div id="p5dimg1" style="position: absolute;top: 0;left: 170px;z-index: -1;width: 242px;height: 132px;">
			<img src="https://i.ibb.co/MnyX2GJ/image.png" id="p5img1" style="width: 242px;height: 132px;">
		</div>


		<div class="dclr" style="clear: both;float: none;height: 1px;margin: 0;padding: 0;overflow: hidden;"></div>
		<p class="p61 ft2" style="font: 15px Calibri;line-height: 18px;text-align: justify;padding-left: 48px;padding-right: 120px;margin-top: 151px;margin-bottom: 0;text-indent: -24px;"><span class="ft2" style="font: 15px Calibri;line-height: 18px;">19.</span><span class="ft32" style="font: 15px Calibri;margin-left: 5px;line-height: 18px;">Signing of this terms and conditions by the
				Employee(s) shall create the contractual obligation on his/her part with the company. Any amendment to
				this shall be valid only after mutual discussions and agreement in writing.</span></p>
		<p class="p62 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;margin-top: 18px;margin-bottom: 0;">I hereby accepted & acknowledged above mentioned terms and conditions:</p>
		<table cellpadding="0" cellspacing="0" class="t1" style="width: 506px;margin-top: 79px;font: bold 15px Calibri;">
			<tr>
				<td class="tr2 td9" style="padding: 0;margin: 0;width: 375px;vertical-align: bottom;height: 19px;">
					<p class="p5 ft4" style="font: bold 16px Calibri;line-height: 19px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Employee Signature:</p>
				</td>
				<td class="tr2 td10" style="padding: 0;margin: 0;width: 131px;vertical-align: bottom;height: 19px;">
					<p class="p5 ft5" style="font: bold 15px Calibri;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap;">TechForing Limited:</p>
				</td>
			</tr>
		</table>
		<table cellpadding="0" cellspacing="0" class="t2" style="width: 575px;margin-top: 74px;font: 16px Calibri;">
			<tr>
				<td class="tr3 td11" style="padding: 0;margin: 0;width: 284px;vertical-align: bottom;height: 20px;">
					<p class="p5 ft9" style="font: 16px Calibri;line-height: 19px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap;">___________________</p>
				</td>
				<td class="tr3 td12" style="padding: 0;margin: 0;width: 291px;vertical-align: bottom;height: 20px;">
					<p class="p63 ft9" style="font: 16px Calibri;line-height: 19px;text-align: right;padding-right: 8px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">_______________________</p>
				</td>
			</tr>
			<tr>
				<td class="tr3 td11" style="padding: 0;margin: 0;width: 284px;vertical-align: bottom;height: 20px;">
					<p class="p5 ft4" style="font: bold 16px Calibri;line-height: 19px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Print Name:</p>
				</td>
				<td class="tr3 td12" style="padding: 0;margin: 0;width: 291px;vertical-align: bottom;height: 20px;">
					<p class="p64 ft4" style="font: bold 16px Calibri;line-height: 19px;text-align: left;padding-left: 94px;margin-top: 0;margin-bottom: 0;white-space: nowrap;">Print Name:</p>
				</td>
			</tr>
			<tr>
				<td class="tr4 td11" style="padding: 0;margin: 0;width: 284px;vertical-align: bottom;height: 61px;">
					<p class="p5 ft9" style="font: 16px Calibri;line-height: 19px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap;"><span class="ft4" style="font: bold 16px Calibri;line-height: 19px;">Date</span>: __________________</p>
				</td>
				<td class="tr4 td12" style="padding: 0;margin: 0;width: 291px;vertical-align: bottom;height: 61px;">
					<p class="p65 ft2" style="font: 15px Calibri;line-height: 18px;text-align: left;padding-left: 92px;margin-top: 0;margin-bottom: 0;white-space: nowrap;"><span class="ft5" style="font: bold 15px Calibri;line-height: 18px;">Date</span>: ____________________</p>
				</td>
			</tr>
		</table>
		<p class="p66 ft0" style="font: 15px 'Times New Roman';line-height: 17px;text-align: left;padding-left: 129px;margin-top: 413px;margin-bottom: 0;">Level 04, House 149, Lane 1, DOHS Baridhara, Dhaka</p>
		<p class="p21 ft17" style="font: 15px 'Times New Roman';text-decoration: underline;color: #00f;line-height: 17px;text-align: left;padding-left: 229px;margin-top: 0;margin-bottom: 0;"><a href="http://www.techforing.com/">www.techforing.com</a></p>
	</div>
</body>

</html>