@import url('https://fonts.googleapis.com/css2?family=Calibri:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/times-new-roman');

body {
    margin-top: 0;
    margin-left: 0
}

#page_1 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 114px;
    padding: 0;
    border: none;
    width: 702px
}

#page_1 #p1dimg1 {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_1 #p1dimg1 #p1img1 {
    width: 242px;
    height: 132px
}

#page_2 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 152px;
    padding: 0;
    border: none;
    width: 664px
}

#page_2 #p2dimg1 {
    position: absolute;
    top: 0;
    left: 132px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_2 #p2dimg1 #p2img1 {
    width: 242px;
    height: 132px
}

#page_3 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 138px;
    padding: 0;
    border: none;
    width: 678px
}

#page_3 #p3dimg1 {
    position: absolute;
    top: 0;
    left: 146px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_3 #p3dimg1 #p3img1 {
    width: 242px;
    height: 132px
}

#page_4 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 138px;
    padding: 0;
    border: none;
    width: 678px
}

#page_4 #p4dimg1 {
    position: absolute;
    top: 0;
    left: 146px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_4 #p4dimg1 #p4img1 {
    width: 242px;
    height: 132px
}

#page_5 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 114px;
    padding: 0;
    border: none;
    width: 702px
}

#page_5 #p5dimg1 {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_5 #p5dimg1 #p5img1 {
    width: 242px;
    height: 132px
}

#page_6 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 114px;
    padding: 0;
    border: none;
    width: 702px
}

#page_6 #p6dimg1 {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_6 #p6dimg1 #p6img1 {
    width: 242px;
    height: 132px
}

#page_7 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 114px;
    padding: 0;
    border: none;
    width: 702px
}

#page_7 #p7dimg1 {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_7 #p7dimg1 #p7img1 {
    width: 242px;
    height: 132px
}

#page_8 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 114px;
    padding: 0;
    border: none;
    width: 702px
}

#page_8 #p8dimg1 {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_8 #p8dimg1 #p8img1 {
    width: 242px;
    height: 132px
}

#page_9 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 114px;
    padding: 0;
    border: none;
    width: 702px
}

#page_9 #p9dimg1 {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_9 #p9dimg1 #p9img1 {
    width: 242px;
    height: 132px
}

#page_10 {
    position: relative;
    overflow: hidden;
    margin: 48px 0 47px 114px;
    padding: 0;
    border: none;
    width: 702px
}

#page_10 #p10dimg1 {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: -1;
    width: 242px;
    height: 132px
}

#page_10 #p10dimg1 #p10img1 {
    width: 242px;
    height: 132px
}

.dclr {
    clear: both;
    float: none;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.ft0 {
    font: 15px 'Times New Roman';
    line-height: 17px
}

.ft1 {
    font: bold 15px 'Times New Roman';
    line-height: 17px
}

.ft2 {
    font: 15px Calibri;
    line-height: 18px
}

.ft3 {
    font: 15px Calibri;
    margin-left: 13px;
    line-height: 18px
}

.ft4 {
    font: bold 16px Calibri;
    line-height: 19px
}

.ft5 {
    font: bold 15px Calibri;
    line-height: 18px
}

.ft6 {
    font: bold 13px 'Times New Roman';
    line-height: 15px
}

.ft7 {
    font: 1px Calibri;
    line-height: 1px
}

.ft8 {
    font: 13px 'Times New Roman';
    line-height: 15px
}

.ft9 {
    font: 16px Calibri;
    line-height: 19px
}

.ft10 {
    font: 16px Calibri;
    margin-left: 11px;
    line-height: 19px
}

.ft11 {
    font: 16px 'Times New Roman';
    line-height: 19px
}

.ft12 {
    font: 16px Calibri;
    margin-left: 14px;
    line-height: 19px
}

.ft13 {
    font: 15px Calibri;
    margin-left: 14px;
    line-height: 18px
}

.ft14 {
    font: bold 15px Calibri;
    text-decoration: underline;
    margin-left: 13px;
    line-height: 18px
}

.ft15 {
    font: bold 15px Calibri;
    text-decoration: underline;
    line-height: 18px
}

.ft16 {
    font: 15px Calibri;
    line-height: 17px
}

.ft17 {
    font: 15px 'Times New Roman';
    text-decoration: underline;
    color: #00f;
    line-height: 17px
}

.ft18 {
    font: 14px Calibri;
    line-height: 17px
}

.ft19 {
    font: 15px Calibri;
    margin-left: 17px;
    line-height: 18px
}

.ft20 {
    font: 15px Calibri;
    margin-left: 16px;
    line-height: 18px
}

.ft21 {
    font: 15px Calibri;
    text-decoration: underline;
    line-height: 18px
}

.ft22 {
    font: 5px Calibri;
    line-height: 6px
}

.ft23 {
    font: 15px Calibri;
    margin-left: 16px;
    line-height: 17px
}

.ft24 {
    font: bold 15px Calibri;
    line-height: 17px
}

.ft25 {
    font: 15px Calibri;
    margin-left: 34px;
    line-height: 18px
}

.ft26 {
    font: 14px Calibri;
    margin-left: 5px;
    line-height: 17px
}

.ft27 {
    font: 15px Calibri;
    margin-left: 3px;
    line-height: 18px
}

.ft28 {
    font: 15px Calibri;
    margin-left: 19px;
    line-height: 18px
}

.ft29 {
    font: 15px Calibri;
    margin-left: 6px;
    line-height: 18px
}

.ft30 {
    font: 15px Calibri;
    margin-left: 27px;
    line-height: 18px
}

.ft31 {
    font: 15px Calibri;
    margin-left: 8px;
    line-height: 18px
}

.ft32 {
    font: 15px Calibri;
    margin-left: 5px;
    line-height: 18px
}

.ft33 {
    font: 16px Calibri;
    margin-left: 4px;
    line-height: 19px
}

.ft34 {
    font: 16px Calibri;
    margin-left: 8px;
    line-height: 19px
}

.ft35 {
    font: bold 20px Calibri;
    text-decoration: underline;
    line-height: 24px
}

.ft36 {
    font: bold 16px Calibri;
    margin-left: 12px;
    line-height: 19px
}

.ft37 {
    font: bold 16px Calibri;
    margin-left: 11px;
    line-height: 19px
}

.ft38 {
    font: 16px Calibri;
    margin-left: 3px;
    line-height: 19px
}

.ft39 {
    font: bold 16px Calibri;
    margin-left: 13px;
    line-height: 19px
}

.ft40 {
    font: 16px 'Segoe UI Symbol';
    line-height: 22px
}

.ft41 {
    font: bold 16px Calibri;
    line-height: 20px
}

.ft42 {
    font: 16px Calibri;
    line-height: 20px
}

.ft43 {
    font: bold 16px Calibri;
    margin-left: 15px;
    line-height: 19px
}

.ft44 {
    font: bold 16px Calibri;
    margin-left: 5px;
    line-height: 19px
}

.p0 {
    text-align: left;
    margin-top: 149px;
    margin-bottom: 0
}

.p1 {
    text-align: left;
    padding-left: 24px;
    margin-top: 21px;
    margin-bottom: 0
}

.p2 {
    text-align: left;
    padding-left: 48px;
    padding-right: 120px;
    margin-top: 18px;
    margin-bottom: 0;
    text-indent: -24px
}

.p3 {
    text-align: left;
    padding-left: 7px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p4 {
    text-align: left;
    padding-left: 6px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p5 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p6 {
    text-align: right;
    padding-right: 57px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p7 {
    text-align: right;
    padding-right: 70px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p8 {
    text-align: right;
    padding-right: 82px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p9 {
    text-align: right;
    padding-right: 75px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p10 {
    text-align: left;
    padding-left: 48px;
    padding-right: 123px;
    margin-top: 20px;
    margin-bottom: 0;
    text-indent: -24px
}

.p11 {
    text-align: left;
    padding-left: 48px;
    padding-right: 129px;
    margin-top: 18px;
    margin-bottom: 0;
    text-indent: -24px
}

.p12 {
    text-align: left;
    padding-left: 102px;
    padding-right: 120px;
    margin-top: 17px;
    margin-bottom: 0;
    text-indent: -24px
}

.p13 {
    text-align: justify;
    padding-left: 102px;
    padding-right: 120px;
    margin-top: 1px;
    margin-bottom: 0;
    text-indent: -24px
}

.p14 {
    text-align: left;
    padding-left: 144px;
    padding-right: 120px;
    margin-top: 1px;
    margin-bottom: 0;
    text-indent: -24px
}

.p15 {
    text-align: left;
    padding-left: 120px;
    margin-top: 1px;
    margin-bottom: 0
}

.p16 {
    text-align: justify;
    padding-left: 102px;
    padding-right: 120px;
    margin-top: 19px;
    margin-bottom: 0;
    text-indent: -24px
}

.p17 {
    text-align: left;
    padding-left: 24px;
    margin-top: 54px;
    margin-bottom: 0
}

.p18 {
    text-align: left;
    padding-left: 48px;
    padding-right: 122px;
    margin-top: 0;
    margin-bottom: 0
}

.p19 {
    text-align: left;
    padding-left: 48px;
    margin-top: 2px;
    margin-bottom: 0
}

.p20 {
    text-align: left;
    padding-left: 129px;
    margin-top: 16px;
    margin-bottom: 0
}

.p21 {
    text-align: left;
    padding-left: 229px;
    margin-top: 0;
    margin-bottom: 0
}

.p22 {
    text-align: left;
    padding-left: 10px;
    padding-right: 120px;
    margin-top: 151px;
    margin-bottom: 0
}

.p23 {
    text-align: left;
    padding-left: 10px;
    margin-top: 21px;
    margin-bottom: 0
}

.p24 {
    text-align: left;
    padding-left: 12px;
    margin-top: 18px;
    margin-bottom: 0
}

.p25 {
    text-align: left;
    padding-left: 82px;
    padding-right: 126px;
    margin-top: 18px;
    margin-bottom: 0;
    text-indent: -24px
}

.p26 {
    text-align: left;
    padding-left: 82px;
    padding-right: 132px;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -24px
}

.p27 {
    text-align: left;
    margin-top: 3px;
    margin-bottom: 0
}

.p28 {
    text-align: right;
    padding-left: 68px;
    padding-right: 120px;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -63px
}

.p29 {
    text-align: left;
    padding-left: 349px;
    margin-top: 2px;
    margin-bottom: 0
}

.p30 {
    text-align: left;
    padding-left: 106px;
    padding-right: 131px;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -24px
}

.p31 {
    text-align: left;
    padding-left: 10px;
    margin-top: 34px;
    margin-bottom: 0
}

.p32 {
    text-align: left;
    padding-left: 10px;
    padding-right: 161px;
    margin-top: 16px;
    margin-bottom: 0
}

.p33 {
    text-align: left;
    padding-left: 10px;
    margin-top: 16px;
    margin-bottom: 0
}

.p34 {
    text-align: left;
    padding-left: 27px;
    margin-top: 16px;
    margin-bottom: 0
}

.p35 {
    text-align: left;
    padding-left: 34px;
    padding-right: 149px;
    margin-top: 15px;
    margin-bottom: 0;
    text-indent: -10px
}

.p36 {
    text-align: left;
    padding-left: 82px;
    padding-right: 129px;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -24px
}

.p37 {
    text-align: left;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0
}

.p38 {
    text-align: left;
    padding-left: 33px;
    margin-top: 0;
    margin-bottom: 0
}

.p39 {
    text-align: left;
    padding-left: 82px;
    padding-right: 167px;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -24px
}

.p40 {
    text-align: left;
    padding-left: 14px;
    margin-top: 16px;
    margin-bottom: 0
}

.p41 {
    text-align: left;
    padding-left: 91px;
    margin-top: 33px;
    margin-bottom: 0
}

.p42 {
    text-align: left;
    padding-left: 191px;
    margin-top: 0;
    margin-bottom: 0
}

.p43 {
    text-align: left;
    padding-left: 96px;
    padding-right: 132px;
    margin-top: 151px;
    margin-bottom: 0;
    text-indent: -24px
}

.p44 {
    text-align: left;
    padding-left: 48px;
    padding-right: 127px;
    margin-top: 16px;
    margin-bottom: 0;
    text-indent: -34px
}

.p45 {
    text-align: left;
    padding-left: 96px;
    padding-right: 141px;
    margin-top: 15px;
    margin-bottom: 0;
    text-indent: -24px
}

.p46 {
    text-align: left;
    padding-left: 24px;
    padding-right: 121px;
    margin-top: 16px;
    margin-bottom: 0;
    text-indent: -14px
}

.p47 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0
}

.p48 {
    text-align: left;
    padding-left: 24px;
    padding-right: 120px;
    margin-top: 18px;
    margin-bottom: 0;
    text-indent: -24px
}

.p49 {
    text-align: justify;
    padding-left: 24px;
    padding-right: 120px;
    margin-top: 17px;
    margin-bottom: 0;
    text-indent: -24px
}

.p50 {
    text-align: justify;
    padding-left: 24px;
    padding-right: 120px;
    margin-top: 18px;
    margin-bottom: 0;
    text-indent: -24px
}

.p51 {
    text-align: justify;
    padding-left: 24px;
    padding-right: 119px;
    margin-top: 20px;
    margin-bottom: 0;
    text-indent: -24px
}

.p52 {
    text-align: left;
    margin-top: 21px;
    margin-bottom: 0
}

.p53 {
    text-align: left;
    padding-left: 105px;
    margin-top: 57px;
    margin-bottom: 0
}

.p54 {
    text-align: left;
    padding-left: 205px;
    margin-top: 0;
    margin-bottom: 0
}

.p55 {
    text-align: justify;
    padding-left: 24px;
    padding-right: 115px;
    margin-top: 151px;
    margin-bottom: 0;
    text-indent: -24px
}

.p56 {
    text-align: justify;
    padding-left: 24px;
    padding-right: 120px;
    margin-top: 23px;
    margin-bottom: 0;
    text-indent: -24px
}

.p57 {
    text-align: justify;
    padding-left: 24px;
    padding-right: 115px;
    margin-top: 17px;
    margin-bottom: 0;
    text-indent: -24px
}

.p58 {
    text-align: left;
    margin-top: 17px;
    margin-bottom: 0
}

.p59 {
    text-align: left;
    padding-left: 24px;
    margin-top: 0;
    margin-bottom: 0
}

.p60 {
    text-align: left;
    padding-left: 105px;
    margin-top: 274px;
    margin-bottom: 0
}

.p61 {
    text-align: justify;
    padding-left: 48px;
    padding-right: 120px;
    margin-top: 151px;
    margin-bottom: 0;
    text-indent: -24px
}

.p62 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0
}

.p63 {
    text-align: right;
    padding-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p64 {
    text-align: left;
    padding-left: 94px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p65 {
    text-align: left;
    padding-left: 92px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p66 {
    text-align: left;
    padding-left: 129px;
    margin-top: 413px;
    margin-bottom: 0
}

.p67 {
    text-align: left;
    padding-left: 66px;
    margin-top: 153px;
    margin-bottom: 0
}

.p68 {
    text-align: left;
    padding-right: 126px;
    margin-top: 24px;
    margin-bottom: 0
}

.p69 {
    text-align: left;
    padding-right: 123px;
    margin-top: 1px;
    margin-bottom: 0
}

.p70 {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 0
}

.p71 {
    text-align: left;
    padding-left: 48px;
    padding-right: 120px;
    margin-top: 1px;
    margin-bottom: 0;
    text-indent: -24px
}

.p72 {
    text-align: left;
    padding-left: 48px;
    padding-right: 126px;
    margin-top: 6px;
    margin-bottom: 0;
    text-indent: -24px
}

.p73 {
    text-align: left;
    padding-left: 48px;
    margin-top: 1px;
    margin-bottom: 0
}

.p74 {
    text-align: left;
    padding-left: 129px;
    margin-top: 63px;
    margin-bottom: 0
}

.p75 {
    text-align: left;
    padding-left: 6px;
    padding-right: 139px;
    margin-top: 152px;
    margin-bottom: 0;
    text-indent: 30px
}

.p76 {
    text-align: left;
    padding-right: 167px;
    margin-top: 1px;
    margin-bottom: 0;
    text-indent: 48px
}

.p77 {
    text-align: justify;
    padding-left: 48px;
    padding-right: 133px;
    margin-top: 0;
    margin-bottom: 0
}

.p78 {
    text-align: left;
    padding-left: 48px;
    padding-right: 124px;
    margin-top: 17px;
    margin-bottom: 0;
    text-indent: -24px
}

.p79 {
    text-align: left;
    padding-left: 48px;
    padding-right: 130px;
    margin-top: 22px;
    margin-bottom: 0;
    text-indent: -24px
}

.p80 {
    text-align: left;
    margin-top: 23px;
    margin-bottom: 0
}

.p81 {
    text-align: left;
    padding-left: 48px;
    padding-right: 123px;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -24px
}

.p82 {
    text-align: left;
    padding-left: 48px;
    padding-right: 127px;
    margin-top: 21px;
    margin-bottom: 0;
    text-indent: -24px
}

.p83 {
    text-align: left;
    padding-left: 48px;
    padding-right: 128px;
    margin-top: 21px;
    margin-bottom: 0;
    text-indent: -24px
}

.p84 {
    text-align: left;
    padding-left: 129px;
    margin-top: 74px;
    margin-bottom: 0
}

.p85 {
    text-align: left;
    margin-top: 152px;
    margin-bottom: 0
}

.p86 {
    text-align: left;
    padding-left: 33px;
    padding-right: 124px;
    margin-top: 0;
    margin-bottom: 0
}

.p87 {
    text-align: left;
    margin-top: 43px;
    margin-bottom: 0
}

.p88 {
    text-align: left;
    padding-left: 19px;
    padding-right: 133px;
    margin-top: 1px;
    margin-bottom: 0
}

.p89 {
    text-align: left;
    padding-left: 19px;
    padding-right: 156px;
    margin-top: 21px;
    margin-bottom: 0
}

.p90 {
    text-align: left;
    padding-left: 19px;
    padding-right: 133px;
    margin-top: 20px;
    margin-bottom: 0
}

.p91 {
    text-align: left;
    padding-left: 22px;
    padding-right: 135px;
    margin-top: 0;
    margin-bottom: 0
}

.p92 {
    text-align: left;
    padding-left: 22px;
    padding-right: 140px;
    margin-top: 21px;
    margin-bottom: 0
}

.p93 {
    text-align: left;
    padding-right: 135px;
    margin-top: 1px;
    margin-bottom: 0
}

.p94 {
    text-align: left;
    margin-top: 191px;
    margin-bottom: 0
}

.p95 {
    text-align: left;
    padding-left: 22px;
    padding-right: 128px;
    margin-top: 0;
    margin-bottom: 0
}

.p96 {
    text-align: left;
    padding-left: 19px;
    padding-right: 125px;
    margin-top: 22px;
    margin-bottom: 0
}

.p97 {
    text-align: left;
    padding-left: 19px;
    padding-right: 134px;
    margin-top: 22px;
    margin-bottom: 0
}

.p98 {
    text-align: left;
    padding-left: 19px;
    padding-right: 122px;
    margin-top: 22px;
    margin-bottom: 0
}

.p99 {
    text-align: left;
    margin-top: 22px;
    margin-bottom: 0
}

.p100 {
    text-align: justify;
    padding-right: 123px;
    margin-top: 1px;
    margin-bottom: 0
}

.p101 {
    text-align: left;
    padding-right: 123px;
    margin-top: 0;
    margin-bottom: 0
}

.p102 {
    text-align: left;
    margin-top: 42px;
    margin-bottom: 0
}

.p103 {
    text-align: left;
    padding-left: 129px;
    margin-top: 14px;
    margin-bottom: 0
}

.p104 {
    text-align: left;
    padding-right: 136px;
    margin-top: 152px;
    margin-bottom: 0
}

.p105 {
    text-align: left;
    padding-right: 157px;
    margin-top: 40px;
    margin-bottom: 0
}

.p106 {
    text-align: left;
    padding-left: 129px;
    margin-top: 483px;
    margin-bottom: 0
}

.td0 {
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 89px;
    vertical-align: bottom;
    background: #0f0
}

.td1 {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 101px;
    vertical-align: bottom;
    background: #0f0
}

.td2 {
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 113px;
    vertical-align: bottom;
    background: #0f0
}

.td3 {
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 89px;
    vertical-align: bottom;
    background: #0f0
}

.td4 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 101px;
    vertical-align: bottom;
    background: #0f0
}

.td5 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 113px;
    vertical-align: bottom;
    background: #0f0
}

.td6 {
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 89px;
    vertical-align: bottom
}

.td7 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 101px;
    vertical-align: bottom
}

.td8 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 113px;
    vertical-align: bottom
}

.td9 {
    padding: 0;
    margin: 0;
    width: 375px;
    vertical-align: bottom
}

.td10 {
    padding: 0;
    margin: 0;
    width: 131px;
    vertical-align: bottom
}

.td11 {
    padding: 0;
    margin: 0;
    width: 284px;
    vertical-align: bottom
}

.td12 {
    padding: 0;
    margin: 0;
    width: 291px;
    vertical-align: bottom
}

.tr0 {
    height: 16px
}

.tr1 {
    height: 15px
}

.tr2 {
    height: 19px
}

.tr3 {
    height: 20px
}

.tr4 {
    height: 61px
}

.tr5 {
    height: 42px
}

.t0 {
    width: 534px;
    margin-left: 54px;
    margin-top: 14px;
    font: bold 13px 'Times New Roman'
}

.t1 {
    width: 506px;
    margin-top: 79px;
    font: bold 15px Calibri
}

.t2 {
    width: 575px;
    margin-top: 74px;
    font: 16px Calibri
}

.t3 {
    width: 506px;
    margin-top: 21px;
    font: bold 15px Calibri
}

.t4 {
    width: 575px;
    margin-top: 55px;
    font: 16px Calibri
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
}
