<html>

<body>
    <p>Dear {{applicant_name}},</p>
    <p>Congratulations! We are delighted to offer you the position of <b>{{job_title}}</b> at <b>{{company_name}}</b>.
    </p>
    with an expected start date of <b>{{date}}.</b></p>
    <p>Your appointment letter is attached to this email.
        Please send a digital copy of the signed appointment letter along with other asked documents by replying to this
        mail.
        Also, bring one hard copy of your appointment letter with your signature on your joining day.
    </p>
    <p>Here is the list of aforesaid documents -</p>
    <ol>
        <li>Copy of all Educational Certificates.</li>
        <li>NID copy.</li>
        <li>Two References with an email address and contact number from past companies.</li>
        <li>NOC letter from your previous workplace.</li>
        <li>One Digital Photo and two passports size Physical Photos.</li>
        <li>Present Address & Permanent Address.</li>
        <li>Vaccination Certificate.</li>
    </ol>
    <p>If you have any queries, please call me at <br>01318-205752</br> or you can also reach me at <a
            href="mailto:career@techforing.com">career@techforing.com</a></p>
    <br>
    <p>
        Regards,<br>
        Talent Acquisition Team<br>
        TechForing Limited<br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
</body>

</html>