<html>

<head>
    <style>
        .importent-text {
            color: #274e13;
            margin-left: 1px;
        }
        
        .footer p {
            font-weight: 600;
            margin: 0;
        }
        
        .footer {
            margin-top: 35px;
        }
        
        .web-link {
            display: block;
            color: #351c8b !important;
            font-weight: 600 !important;
        }
        
        .main p {
            color: #000 !important;
        }
    </style>
</head>

<body>
    <p class="applicant-title"> Dear {{applicant_name}}, </p>
    <div class="main">
        <p>We have verified your documents and references. To proceed further, you are requested to read our <strong class="importent-text">terms and conditions</strong> with absolute concentration and peace of mind. After reading, if you agree with the
            <strong class="importent-text">terms and conditions,</strong> please submit your response from our <a href={{site_link}}>career site</a>.
        </p>
    </div>
    <div>
        <div class="footer">
            <p style="color: #000 !important">Best Regards,</p>
            <p style="color: #bf9000 !important;">HR Department</p>
            <p style="color: #20124d !important;">TechForing Limited</p>
        </div>
        <a href="https://www.techforing.com/" class="web-link">www.techforing.com</a>
    </div>
</body>

</html>