<html>

<body>
    <p>Dear {{applicant_name}}</p>
    <p><b>Congratulations!</b> You have been selected for the <b>"{{job}}"</b> position, and TechForing is excited to
        bring you on board.</p>
    <p>
        We're just a few formalities away from getting down to work. Please take the time to review our formal offer. It
        includes important details about the terms and conditions of your anticipated employment with <b>TechForing</b>.
    </p>
    <p>Please submit the following <b>Documents</b> (Digital Copy) within <b>17th June 2022</b> for issuing your
        <b>Appointment
            Letter</b>
        :
    </p>
    <ul>
        <li>Copy of all <b>Educational Certificates</b>.</li>
        <li><b>NID</b> copy.</li>
        <li><b>Two References</b> with an email address and contact number from <b>Past Companies</b>.</li>
        <li><b>NOC</b> from your previous workplace.</li>
        <li>One <b>Digital Photo</b> and two passport size <b>Physical Photos</b>.</li>
        <li><b>Present</b> Address & <b>Permanent</b> Address.</li>
        <li><b>COVID-19 Vaccination</b> Certificate.</li>
    </ul>
    <p>If you have any questions, please let us know by this email: <a href="mailto:career@techforing.com"
            style="font-weight: bold;">
            career@techforing.com
        </a> or you can contact us through <a href="https://career.techforing.com/support"
            style="font-weight: bold;">Support</a>.</p>
    </p>
    <p>
        <b>Welcome to TechForing.</b> We are delighted to have you with our team.
    </p>
    <br>
    <p>
        With Best Regards,
        <br>
        <b>HR Department</b>
        <br>
        <b>TechForing Limited</b>
        <br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
</body>

</html>
