<html lang="en">

<body>
    <p>Thanks for getting started with TechForing Career.</p>
    <p>We need a little more information to complete your registration, including a confirmation of your email address.
    </p>
    <p>Click below to confirm your email address:</p>
    <a href="{{absurl}}">{{absurl}}</a>
    <br>
    <p>If you face any problems, please let us know by this email: <a href="mailto:career@techforing.com" style="font-weight: bold;">
            career@techforing.com
        </a></p>.
    <br>
    <p>
        Best Regards,<br> Talent Acquisition Team<br> TechForing Limited<br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
</body>

</html>
