<html>

<body>
    <p>Dear {{applicant_name}}</p>
    <p><b>Congratulations!</b> We have got positive feedback from the Department Manager.</p>
    <p>
        TechForing is a family of talented and exciting individuals. We are very concerned about our office culture and
        environment. Here are the <b>Terms and Conditions (NDA & NCA)</b> for every employee of TechForing Limited.</p>
    <p><b>Please read the attachment carefully and give us your feedback by replying to this email with your
            consent.</b></p>
    <p>We appreciate your patience while your hiring process is going on.</p>
    <p>If you have any questions, please let us know by this email: <a href="mailto:career@techforing.com"
            style="font-weight: bold;">
            career@techforing.com
        </a> or you can contact us through <a href="https://career.techforing.com/support"
            style="font-weight: bold;">Support</a>.</p>
    </p>
    <br>
    <p>
        With Best Regards,
        <br>
        <b>HR Department</b>
        <br>
        <b>TechForing Limited</b>
        <br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
    </p>
</body>

</html>
