<html>
    <body>
        <p>Dear {{applicant_name}}</p>
        <p>Congratulations! We have got positive feedback from the Department Manager.</p>
        <p>TeahForing is a family of talented and exciting individuals. We are very concerned about our office culture and environment. Here are the Terms and Conditions (NDA & NCA) for every employee of TechForing Limited.</p>
        <p><b>Please read the attachment carefully and give us your feedback by replying to this email with just “Agree” or “Disagree”.</b></p>
        <p>We appreciate your patience while your hiring process is going on.</p>
        <br>
        <p>
        Regards,<br>
        Talent Acquisition Team<br>
        TechForing Limited<br>
        <a href="www.techforing.com">www.techforing.com</a>
        </p>
    </body>
</html>