<html>

<body>
    <p>Dear {{applicant_name}},</p>
    <p>Congratulations!</p>
    <p>TechForing Talent Acquisition Team would like to meet you to have a round of discussion about the aforesaid
        position.
        Please come to our office for a face to face interview.</p>
    <br>
    <p style="color: lightskyblue;">
        <b>Date:[{{date}}]</b><br>
        <b>Time:[{{time}}]</b><br>
        <b>Location: House No 149, Road No 1, Baridhara DOHS, Dhaka.</b><br>
    </p>
    <br>
    <p>If you have any queries, please call me at <br>01318-205752</br> or you can also reach me at <a
            href="mailto:career@techforing.com">career@techforing.com</a></p>
    <br>
    <p>
        Regards,<br>
        Talent Acquisition Team<br>
        TechForing Limited<br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
</body>

</html>