<html>

<body>
    <p>
        <b>
            Dear {{applicant_name}}
        </b>
    </p>
    <!-- <p>TechForing would like to acknowledge that we have received your application for the post of {{job}}.</p>

    <p>At TechForing, we have a straightforward assessment procedure that consists of an <b>Online Test</b>.
        The purpose of these tests is to understand your analytical ability and expertise related to the position.
        Participation in these assessments is required to qualify for the next stage of the selection process.
    </p> -->

    <p>
        Thank you for your application at TechForing Limited for the <b>"{{job}}"</b> position. At TechForing, we have a
        straightforward recruitment procedure and these Online Tests are one of them. Please follow the <span>
            Deadline &
            Instructions
        </span> strictly.
    </p>
    <p>
        <b><u>ONLINE TEST:</u></b>
        <br />
        <span>
            We take these tests to understand your values, analytical ability, and expertise related to the position.
            This is a Crucial & Mandatory Step to qualify for the position. Please do not take the test more than
            once.
        </span>
    </p>
    <ul>
        <li>Log in to your account on our Recruitment Portal.</li>
        <li>Then go to <b>“My Jobs”</b> from sidebar.</li>
        <li>You should be able to see your progress for <b>"{{job}}"</b>. Click on <b>"View Progress"</b></li>
        <li>You will see the <b>“Online Test”</b> tab. Click on the link beside test names to participate.</li>
        <li><b>After completing the test, don't forget to take a screenshot of your score.</b></li>
        <li>Submit your score and upload the screenshot as instructed in the site.</li>
        <li>Deadline: <span style="color:red;">[DD/MM/YYYY]</span></li>
    </ul>
    <p>If you have any question, please let us know by this email: career@techforing.com</p>
    <br>
    <p>
        With Best Regards,
        <br>
        <b>HR Department</b>
        <br>
        <b>TechForing Limited</b>
        <br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
</body>

</html>
