<html>

<body>
    <p>Dear {{applicant_name}}</p>
    <br>
    <p>TechForing would like to acknowledge that we have received your application for the post of {{job}}.</p>
    <p>At TechForing, we have a straightforward assessment procedure that consists of an <b>Online Test</b>.
        The purpose of these tests is to understand your analytical ability and expertise related to the position.
        Participation in these assessments is required to qualify for the next stage of the selection process.</p>
    <p><u>Please read carefully and follow the instructions:</u></p>
    <ul>
        <li>Log in to your account on our Recruitment Portal.</li>
        <li>Then go to “My Jobs”.</li>
        <li>You will see the “Online Test” tab. Take part and complete the test.</li>
        <li><b>After completing the test, don't forget to take a screenshot of your score.</b></li>
        <li>Submit your score and upload the screenshot as instructed in the site.</li>
        <li style="color:red;">Deadline: [DD/MM/YYYY]</li>
    </ul>
    <p>If you have any question, please let us know by this email: career@techforing.com</p>
    <br>
    <p>
        Regards,<br>
        Talent Acquisition Team<br>
        TechForing Limited<br>
        <a href="www.techforing.com">www.techforing.com</a>
        </p>
</body>

</html>