<html>

<body>
    <p>Dear {{applicant_name}}</p>
    <p>Congratulations! You have passed the Online Test and have been selected for the second round, which consists of a
        <b>Practical Test.</b>
    </p>
    <p>Please read the instructions carefully and submit the task within the deadline.</p>
    <p><u>Instructions:</u></p>
    <ul>
        <li>Log in to your account on our Recruitment Portal.</li>
        <li>Then go to “My Jobs”.</li>
        <li>Follow the instructions given on the site.</li>
        <li>Submit your test through a document of PDF format or a Google Drive like,
            before submitting the link, make sure it is accessible.</li>
        <li>Deadline: [DD/MM/YYYY]</li>
    </ul>
    <p><u><i>We expect you to carry out the task with full honesty.</i></u></p>
    <p>If you have any question, please let us know by this email: <a
            href="mailto:career@techforing.com">career@techforing.com</a></p>
    <br>
    <p>
        Regards,<br>
        Talent Acquisition Team<br>
        TechForing Limited<br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
</body>

</html>
