<html>

<body>
    <p>Dear {{applicant_name}},</p>
    <p><b>Congratulations!</b> We are happy to inform you that you have been selected for the Second round of Interview which consists of a
        <b>{{second_test}}</b>.
    </p>
    <p>Please read carefully and submit the task from our Recruitment portal.</p>
    <p><u><b>Instructions:</b></u></p>
    <ul>
        <li>Log in to your account on our <a href="https://career.techforing.com">Recruitment Portal</a>.</li>
        <li>Then go to <b>“My Jobs”</b> from sidebar.</li>
        <li>You should be able to see your progress for <b>"{{job}}"</b>. Click on <b>"View Progress"</b></li>
        <li>Follow the instructions given on the site.</li>
        <li>Submit your test through a document of PDF format or a Google Drive like, before submitting the link, make sure it is accessible.</li>
        <li>Deadline: <span style="color:red;">[DD/MM/YYYY]</span></li>
    </ul>
    <p><span style="color: red;font-weight:bold">
            You are expected to carry out the task with full honesty.
        </span></p>
    <p>If you have any questions, please let us know by this email: <a href="mailto:career@techforing.com" style="font-weight: bold;">
            career@techforing.com
        </a> or you can contact us through <a href="https://career.techforing.com/support" style="font-weight: bold;">Support</a>.</p>
    <br>
    <p>
        With Best Regards,
        <br>
        <b>HR Department</b>
        <br>
        <b>TechForing Limited</b>
        <br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
</body>

</html>