<html>

<body>
    <p>Dear Sir/Madam,</p>
    <p><b>Salam and Greetings!</b> {{applicant_name}} applied to our organization and included you
        as
        reference.</p>
    <p>
        We would like to obtain your confirmation regarding the reference. Kindly, fill up the form as for written
        documents. We would really appreciate it if you kindly fill up the form given below:
    </p>
    <p>Form Link: {{reference_verify_link}} </p>
    <br>
    <p>
        With Best Regards,
        <br>
        <b>HR Department</b>
        <br>
        <b>TechForing Limited</b>
        <br>
        <a href="www.techforing.com">www.techforing.com</a>
    </p>
    </p>
</body>

</html>
