<html>

<head>
    <style>
        .importent-text {
            color: #274e13;
            margin-left: 1px;
        }
        
        .footer p {
            font-weight: 600;
            margin: 0;
        }
        
        .footer {
            margin-top: 35px;
        }
        
        .web-link {
            display: block;
            color: #351c8b !important;
            font-weight: 600 !important;
        }
        
        .main p {
            color: #000 !important;
        }
    </style>
</head>

<body>
    <div class="main">
        <p class="applicant-title">Dear {{applicantName}},</p>
        <p>Thank you for your interest in the <strong class="importent-text">"{{jobPosition}}"</strong> position. We have reviewed your background and experience and unfortunately, we have decided to move ahead with other candidates. We appreciate the time
            you took to apply and encourage you not to let this be the end of your exploration of Careers at TechForing! We are growing and adding new roles on a regular basis. So we invite you to explore careers for another great opportunity to pursue.
        </p>
        <p>
            If you have any questions in the meantime, feel free to reach out by this: <a href="mailto:career@techforing.com" style="font-weight: bold;">
                career@techforing.com
            </a> or <strong class="importent-text">"+8801318205752".</strong>
        </p>
    </div>
    <div>
        <div class="footer">
            <p style="color: #000 !important">Best Regards,</p>
            <p style="color: #bf9000 !important;">HR Department</p>
            <p style="color: #20124d !important;">TechForing Limited</p>
        </div>
        <a href="https://www.techforing.com/" class="web-link">www.techforing.com</a>
    </div>
</body>

</html>